.submenu__container {
    position: relative;
    z-index: 1;
    top: -180px;
    background-color: var(--clr__grey3B);
    transition: top 100ms ease-in-out, transition-delay 0s;
}
.submenu__show {
    top: 43px;
    transition: top 100ms ease-in-out, transition-delay 0s;
}
.submenu__container ul {
    display: flex;
    flex-direction: column;
}
.submenu__container img {
    width: 30px;
    height: 30px;
    margin-right : 10px;
}
.submenu__container ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    font-family: 'PTSans-Regular';
    color: var(--clr__greyC7);
    width: fit-content;
}
.submenu__container ul li:hover {
    cursor: pointer;
    color: var(--clr__whiteFF);
}