.logo__container {
    padding: 2px;
    width: fit-content;
}
    .logo__subcontainer {
        display: flex;
        flex-direction: row;
        padding: 2px;
    }
        .logo__image img {
            width: 30px;
            height: auto;
       
        }
        .logo__title {
            margin-top: auto;
            margin-bottom: auto;
            font-family: 'Iceland-Regular';
            font-size: 20px;
            text-transform: capitalize;
        
        }  
        .logo__title h3 {
            color: var(--clr__greyC7);
            }
    .logo__hook {
        display: flex;
        justify-content: center;
        font-family: 'PTSans-Regular';
        font-size: 12px;
        margin-top: -10px;
        padding: 2px;
        letter-spacing: 0.06rem;
        text-transform: lowercase;

    }
    .logo__hook p {
        color: var(--clr__greyC7);
    }
