.footer__menuContainer {
    padding: 2px;
}

.footer__menu_ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    font-family: 'PTSans-Regular';
}

.footer__menu_li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    margin-bottom: 10px;
}

.footer__menu_li span {
    color: var(--clr__greyC7);
}

.footer__menu_li span:hover {
    cursor: pointer;
    color: var(--clr__grey63);
}


.footer__menu_li ul {
    text-align: center;
}

.footer__menu_li ul li {
    
    border-bottom: solid var(--clr__grey63) 1px;
    padding: 10px;
}

.footer__menu_li ul li a {
    color: var(--clr__grey63);
    font-size: 12px;
}

.footer__menu_li ul li a:hover {
    cursor: pointer;
    color: var(--clr__greyC7);
}

.hidden {
    display: none;
    transition: 300ms ease-in-out;
}

.display {
    display: flex;
    flex-direction: column;
    transition: 300ms ease-in-out;
}