.footer__container {
    display: flex;
    flex-direction: column;
    background-color: var(--clr__black21-alpha);
    margin: 10px;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}