
body {
    min-width: 320px;  
    overflow-x: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.hidden__container {
    margin-bottom: 150px;
    padding: 1px;
}
