.header__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 125px;
    background-color: var(--clr__grey3B);
}   
    .header__topcontainer {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        margin-left:10px;
        margin-right:10px;
        background-color: var(--clr__grey3B);
    }
        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
        } 
    .header__bottomcontainer {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--clr__grey3B);
  
    }  
        .burger {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 10px;
            border: 2px solid black;
            border-radius: 6px;
            padding: 2px;
        }