.navigation {
    position : absolute;
    z-index: -3;
    top:60px;
    width:100vw;
    height: 3.4rem;
    background-color: var(--clr__grey3B);
    transition: top 400ms ease-in-out, transition-delay 0s;
}
.nav-show {
    top:120px;
    transition: top 400ms ease-in-out, transition-delay 0s;
}
.navigation > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 25px;
    padding-top: 10px;

}

.navigation li {
    width: 40px;
    height: 40px;
}
.item__container {
    display: flex;
}
.item__container span img:nth-child(1) {
    width: 20px;
    height: 20px;
   
}

.arrow {
    transform: rotate(0deg);
    transition:  400ms ease-in-out, transition-delay 0s;
}

.arrow_change {
    transform: rotate(180deg);
    transition:  400ms ease-in-out, transition-delay 0s;
}