:root {
    --clr__black21: #212121;
    --clr__black21-alpha: #212121b5;
    --clr__grey3B: #3B3B3B;
    --clr__grey3B-alpha: #3b3b3bb8;
    --clr__grey63: #636363;
    --clr__grey6D: #6D6D6D;
    --clr__greyC7: #C7C7C7;
    --clr__greyC7-alpha: #c7c7c7b1;
    --clr__whiteFF: #FFFFFF;
    --clr__whiteFF-alpha: #ffffffb4;
    --clr__orangeFF:#FF9E58;
    --clr__green3F: #3FA143;
    
}
    
    
    @font-face {
        font-family: 'Iceland-Regular';
        src: url('../fonts/Iceland/Iceland-Regular.ttf');
    }
    
    @font-face {
        font-family: 'PTSans-Regular';
        src: url('../fonts/PT_Sans/PTSans-Regular.ttf');
    }
    @font-face {
        font-family: 'PTSans-Bold';
        src: url('../fonts/PT_Sans/PTSans-Bold.ttf');
    }
    @font-face {
        font-family: 'PTSans-BoldItalic';
        src: url('../fonts/PT_Sans/PTSans-BoldItalic.ttf');
    }
    @font-face {
        font-family: 'PTSans-Italic';
        src: url('../fonts/PT_Sans/PTSans-Italic.ttf');
    }